@model BankAdministration.Web.Models.BankAccount

@{
    ViewData["Title"] = "Details";
}

<h1>Transactions</h1>

<table class="table">
    <thead>
        <tr>
            <th>TransactionType</th>
            <th>DestinationAccountNumber</th>
            <th>Amount</th>
            <th>OldBalance</th>
            <th>NewBalance</th>
            <th>TransactionTime</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.Transactions)
            {
        <tr>
            <td>
                <b>@Html.DisplayFor(model => transaction.TransactionType)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(model => transaction.DestinationAccountNumber)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(model => transaction.Amount)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(model => transaction.OldBalance)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(model => transaction.NewBalance)</b>
            </td>
            <td>
                <b>@Html.DisplayFor(model => transaction.TransactionTime)</b>
            </td>
        </tr>
            }
    </tbody>
</table>
<div>
    <a asp-action="CreateTransaction" asp-route-id="@Model.Id">New transaction</a> |
    <a asp-action="Index">Back to List</a>
</div>
